table {
    border-collapse: collapse;
    border-spacing:0 ;
    margin-bottom: 40px;
    font-family: sans-serif;

    
}

td {
    border: 1px solid #000 ;
    
}

th {
    border: 1px solid #000;
}

 caption {
    border: 1px solid #000;
    border-bottom: none;
}

 caption {
    border-bottom: none;
    width: 900 px;
 }  

 caption {
    font-width: 900 px;
 }


